body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#wrapper{
  height: 100vh;
  background-color: rgb(107, 107, 17);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header{
  font-size:x-large ;
  color: rgb(53, 36, 14);
  font-weight: bold;
  font-style: oblique;
}
#content{
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content:space-around;
  height: 50px;
  background-color: whitesmoke;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  
  
}
.change{
  width: 80px;
  height: 30px;
  background-color: rgb(160, 160, 236);
  font-weight:700;
  font-size: medium;
}

#decrease{
  background-color: transparent;
  font-size: x-large;
  font-weight: bold;
  border: none;
  border-left: 1px solid rgb(14, 14, 14);
  cursor: pointer;
}
#value{
  position: relative;
  top: 10px;
  font-size: x-large;
  font-weight: bold;
}
#increase{
  
  background-color: transparent;
  font-size: x-large;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-right: 1px solid black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
